<script src="/jquery.js" ></script>


<div class="midslot">
  <input type="hidden" name="_csrf" value="<%= token %>">
  <input type="hidden" name="ans" id="ans"/>
  <input type="hidden" name="link" id="link" value="<%= link %>"/>

<div id="loading" style="text-align:center;display:none;">
<div class="ui large text loader active inline"></div>

</div>


<div class="ui segment"  style="padding:0">
  <div class="ui left top attached label" style="background:none;color:white;text-shadow:0 1px 0 #000;z-index:1000;display:none;" id="infoheader"></div>
  <img src="<%= link %>" id='playswap' class="ui image fluid " alt="Swipe left or right">

</div>




<div style="text-align:center">
  <h2>Can you see wildfires burning, volcanoes erupting, icebergs cracking?</h2>
</div>


<div class="ui modal active" style="position:relative ">
<div class="actions">


<div class="inblock" style="padding:0.2em">
  <div class="ui blue tag label">Score: <span style="font-size:2em;vertical-align:middle" id="score"><%= score %></span></div>
  <div class="ui blue tag label">Reward: <span style="font-size:2em;vertical-align:middle" id="reward"><%= reward %></span></div>
</div>
      <button class="ui black button" id='nopeb'>
        Nope
      </button>
      <button class="ui positive right labeled icon button" id='yesb'>
        Yes
        <i class="checkmark icon"></i>
      </button>
      <div>
        Swipe the image left mean no, swipe right mean yes. Swipe feature only available on latest version of browsers
    </div>
    </div>



</div>


</div>


<script>




  $(function(){


      showInfotext = function(){
        //below is just temporary fast solution,use regex in future
        setTimeout(function(){
          $('[name="link"]').val();
          var parseDate =   $('[name="link"]').val().replace('http://','').replace('https://','').replace("map1.vis.earthdata.nasa.gov/wmts-geo/MODIS_Terra_CorrectedReflectance_TrueColor/default/",'');
          parseDate  = parseDate.substring(0, parseDate.indexOf('/'));
          $('#infoheader').html('captured on '+parseDate+' by NASA').fadeIn('slow');
        },0);
      };


     $('#playswap').on('load', function() {
        showInfotext();
      });


      ajaxPost = function (){

          $('#infoheader').html('').hide();
          $('#playswap').css("display","none");

          var dividedHeight= $('#playswap').height()/2;
          $("#loading").css('margin-top', dividedHeight).css('margin-bottom', dividedHeight).show();







            $('#playswap')
            .removeClass("animated")
            .removeClass("slideOutRight")
            .removeClass("slideOutLeft");


            $.ajax({
                type: "POST",
                url: '/play',
                data:  {
                  _csrf : $('[name="_csrf"]').val(),
                  ans : $('[name="ans"]').val(),
                  link : $('[name="link"]').val()
                },
                success: function(outputData){


                 $('[name="link"]').val(outputData.link);
                 $('#playswap').attr('src',outputData.link);
                 $('#score').html(outputData.score);
                 $('#reward').html(outputData.reward);

                 $('#playswap').on('load', function() {
                   $("#loading").hide();
                   $('#playswap').fadeIn();
                   showInfotext();
                 });




                },
                dataType: "json"
            });










      }



    $('#nopeb').click(function (e) {
        e.preventDefault();


        $('#ans').val('no');
        $('#playswap').animateCSS('slideOutLeft', function(){
          ajaxPost();
        });




    });

    $('#yesb').click(function (e) {
       e.preventDefault();


       $('#ans').val('yes');
        $('#playswap').animateCSS('slideOutRight', function(){
          ajaxPost();
        });




    });




  $("#playswap").swipe( {
    allowPageScroll: "auto",
      swipe:function(event, direction, distance, duration, fingerCount, fingerData) {



         if(direction == 'left')
           $('#nopeb').click();

         else if(direction == 'right')
            $('#yesb').click();



      }
    });










  });





</script>
